<h1>String Manipulation Custom Pipe Demo</h1>
<div>
    <label>Original</label>
    <span>{{ hello }}</span>
</div>
<div>
    <label>Order</label>
    <span>{{ hello | stringmanipulation: 'order' }}</span>
</div>
<div>
    <label>Shuffle</label>
    <span>{{ hello | stringmanipulation: 'shuffle' }}</span>
</div>
<div>
    <label>Reverse</label>
    <span>{{ hello | stringmanipulation: 'reverse' }}</span>
</div>
<div>
    <label>Camel</label>
    <span>{{ hello | stringmanipulation: 'camel' }}</span>
</div>